@import "tailwindcss";

@theme {
  --color-background: #0B0F17;
  --color-surface: #131B2A;
  --color-surface-light: #1A2436;
  --color-primary: #B7EC4B;
  --color-accent: #38BDF8;
  --color-text-primary: #F1F5F9;
  --color-text-secondary: #94A3B8;
  --color-card-border: #1E293B;
  --color-error: #EF4444;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

body {
  margin: 0;
  min-height: 100vh;
}
